@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Rubik+Beastly&family=Truculenta:wght@300;600;700;900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Luxurious Roman', sans-serif; 
}
/*.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: #fff;
  z-index: 2;
}

.menu {
    
}